* {
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#content-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#calc-wrapper {
    width: 450px;
    height: 650px;
    border: solid #444;
    border-radius: 5px;
    /*display: grid;
    grid-template-rows: 1fr 3fr;*/
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .6);
}

@media only screen and (max-height: 640px) {
  #calc-wrapper {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
  }
    .selector {
    font-size: 10vh;
  }
}

@media only screen and (max-width: 500px) {
    #calc-wrapper {
        width: 100vw;
        box-shadow: none;
    }
    .selector {
        font-size: 10vw;
    }
}

@media only screen and (max-height: 820px) and (max-width: 500px) {
    #calc-wrapper {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        position: fixed;
        top:0;
        left: 0;
        box-shadow: none;
    }

    #content-wrapper {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
}

@media only screen and (max-height: 500px) {
  #content-wrapper {
    overflow: auto;
    position: relative;
  }
  #calc-wrapper {
    height: 500px;
    position: absolute;
    top: 0;
  }
}

#text-box-wrapper {
    height: 25%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.text-box {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #999;
    margin: 0;
    padding: 0 15px;
    font: 4em Arial;
}

#history {
    justify-content: flex-start;
    font-size: 2.3em;
    color: #999;
}

#history img {
    position: relative;
    bottom: 5px;
    left: 15px;
    opacity: 50%;
}

@media only screen and (max-width: 500px) {
    #history {
        font-size: 8vw;
    }
}

#history span {
    position: relative;
    margin-right: 15px;
}

#button-wrapper {
    height: 75%;
    background-color: #6176A7;
    padding: 15px;
    width: 100%;
}
.row {
    width: 100%;
    height: 16.667%;
    display: flex;
}

.btn {
    width: 25%;
    margin: .25%;
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 1));
    border: 2px solid #444;
    border-radius: 4px;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .btn {
        font-size: 7vw;
    }

    .btn img {
        width: 12vw;
    }
}

@media only screen and (max-height: 650px) {
.btn img {
    width: 8vh;
}
}

.btn:active {
    background-color: rgb(51, 51, 51);
    position: relative;
    top: 1px;
}

.btn:focus {
    outline: none;
}

.square-wrapper {
    display: flex;
    margin: auto;
    width: fit-content;
}

#x {
    position: relative;
    top: 5px;
}

#two {
    font-size: 1.4rem;
    position: relative;
    bottom: 3px;
}

#square-root-wrapper {
    height: 20px;
    width: 20px;
    position: relative;
}

#line1 {
    border-bottom: 3px solid white;
    width: 0.5rem;
    transform: skew(0, 60deg);
    position: relative;
    top: 15px;
    right: 10px;
}

#line2 {
    border-bottom: 3px solid white;
    width: 1rem;
    transform: skew(0, -60deg);
    position: relative;
    top: 5px;
    right: 2px;
}

#line3 {
    border-bottom: 2px solid white;
    width: 1rem;
    position: relative;
    bottom: 12px;
    left: 14px;
}

.back-space {
    display: flex;
    justify-content: center;
}

.zero {
    width: 50.5%;
}

