#content-wrapper {
    margin: auto;
    max-width: 500px;
}


#wrapper {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 135%;
}
#calc-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: solid;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    box-sizing: border-box;
}

#text-box-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#button-wrapper {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.text-box {
    grid-column: 1/5;
    border-bottom: 1px solid #999;
    margin: 0;
    font-size: 4em;
}

.btn {
    background-image: radial-gradient(rgba(51, 51, 51, 1), rgba(51, 51, 51, 0.95), rgba(51, 51, 51, 0.9));
    margin: 1px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-size: 2em;
}

.btn:active {
    background-color: rgb(51, 51, 51);
}

.btn:focus {
    outline: none;
}

.zero {
    grid-column: 1/3;
}